/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MuiBox-root .css-197urd {
  padding: 10px;
}

/* Main Filters Container */
.filters-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12px;
  padding: 12px;
  background-color: var(--mui-background-default);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Date Filter Section */
.Date-filter {
  display: flex;
  gap: 16px;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

/* Age and Gender Filters Section */
.age-gender-filters {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.filter-1 {
  & select,
  button {
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    outline-style: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    border-style: none;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  & button:hover {
    background-color: whitesmoke;
    transform: scale(1.05); /* Slight zoom effect */
  }
  & select:hover {
    background-color: whitesmoke;
    transform: scale(1.05); /* Slight zoom effect */
  }
}


@media (max-width: 1023px){
  .filters-container{
    flex-direction: column;
  }
  .age-gender-filters {
    justify-content: flex-start;
  }
}

@media (max-width: 379px){
    .Date-filter{
      gap: 10px;
      justify-content: center;
    }
    .age-gender-filters{
      gap: 10px;
      justify-content: center;
    }

    .filters-container{
      justify-content: center;
    }
}

.share-view{
  margin-top: 20px;
  padding-left: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  & button{
    width: 160px;
    padding: 10px;
    border-radius: 5px;
    outline-style: none;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    border-style: none;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}